<mat-toolbar color="primary">
  날씨 앱
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="content mat-elevation-z8">
      Main content here!

    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

<!--<mat-form-field>-->
<!--  <mat-label>도시</mat-label>-->
<!--  <mat-select [formControl]="cityControl">-->
<!--    <mat-option *ngFor="let city of cities" [value]="city">{{city}}</mat-option>-->
<!--  </mat-select>-->
<!--</mat-form-field>-->
<!--<br>-->
<!--<router-outlet></router-outlet>-->
